.kegiatan-home {
    position: relative;
    width: 100%;
    height: 408px; /* Contoh tinggi 400px, sesuaikan dengan kebutuhan Anda */
    overflow: hidden; /* Menghindari gambar keluar dari div jika terlalu besar */
}

.kegiatan-home img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Memotong gambar untuk mengisi div */
    object-position: center; /* Pusatkan gambar di dalam div */
}

#btn-kegiatan-yang-diikuti {
    position: absolute;
    top: 85px;
    right: 4%;
    transform: translateX(-50%);
    z-index: 3;
    background-color: white;
    font-size: 15px;
}

.text-kegiatan-home {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
}

.fill-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 365px;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.pagination-container .pagination .page-link {
    color: white;
    background-color: black;
    border-color: white;
}

.centered {
    display: flex;
    justify-content: center;
}

